################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Diplom_kolya/.vs/Diplom_kolya/v15/Server/sqlite3/storage.ide-wal
/Diplom_kolya/.vs/Diplom_kolya/v15/Server/sqlite3/storage.ide-shm
/Diplom_kolya/.vs/Diplom_kolya/v15/Server/sqlite3/storage.ide
/Diplom_kolya/.vs/Diplom_kolya/v15/Server/sqlite3/db.lock
